<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="focus">
        {{>header}}
        This web-app is crafted by node.js on server side. I have made this project
        to practice on concepts like 
        <div class="punch">• fetching json data via http request</div>
        <div class="punch">• Making request to 3rd-party APIs</div>
        <div class="punch">• Using handlebars open-source npm module to make dynamic pages</div>
        <div class="punch">• Using Express.js to make different routes</div>
        <div class="punch">• Coding cliet-side javascript to access the request made</div>
        <div class="punch">• Making json http endpoint</div>
        <div class="punch">• I have used git to gain version control</div>
        <div class="punch">• Deployment is done using heroku</div>
        <div class="punch">• I have used SSH rsa keys to securely communicate to github and heroku servers</div>

        <div class="punch">
            Yeah you got it right, I am a backend guy ;)
        </div>

        {{!-- <img class="pic" src="/img/eminem.jpg"> --}}
    </div>
    {{>footer}}
</body>

</html>
