<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    
</head>

<body>
    <div class="focus">
        {{>header}}
        <p>
            <div class="punch">If you want report some bug feel free to contact me here: 

                <button>
                    <a href="mailto:kartikmnc@gmail.com@gmail.com">Email me</a>
                </button>

                <a class="middle-blue-font" href="https://wa.me/917874619949?text=Hi%20Kartik,%20I%20found%20your%20contact%20from%20your%20portfolio.%20" title="Just DM! " target="codepen"><strong><button>Whatsapp</button></strong></a>

            </div>

            <div class="punch">
                Check out amazing documentation of APIs I have used in server-side code - 
                <div class="punch">•    <a href="https://docs.mapbox.com/api/search/#geocoding">Mapbox</a></div>
                <div class="punch">•    <a href="https://www.weatherapi.com/docs/">Weather-API</a></div>
            </div>

            <div class="punch">
                Checkout my art here on github - 
                <div class="punch">•    <a href="#">Repository</a></div>
            </div>

        </p>
    </div>
    {{>footer}}
</body>

</html>


